{{!< default}}

<h2>Timetable for {{studentId}}</h2>

<p>
	<a href="{{timetableURL}}" id="download-calendar-anchor">Download your calendar</a> or, subscribe using your calendar app with the following URL (<a href="/faq#subscribe-to-calendar" title="How to subscribe to your calendar in your own calendar application">how?</a>).
	<div id="calendar-url-display-wrapper" class="copy-text-wrapper">
		<pre id="download-calendar-url-display">{{timetableURL}}</pre>
	</div>
</p>
<form id="timetable-options-form" class="form-horizontal">
	<input type="hidden" value="{{baseTimetableURL}}" id="base-calendar-url" name="baseCalendarURL" />

	<fieldset>
		<legend>Timetable Options</legend>
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="addAlarms" id="add-alarms-input" {{#if addAlarms}}checked{{/if}}> Add Alarms
				</label>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<label for="alarmOffset">Alarm Offset</label>
				<input type="number" class="form-control" name="alarmOffset" id="alarm-offset-input" value="{{alarmOffset}}">
				<div class="input-group-addon">Minutes</div>
			</div>
		</div>
	</fieldset>

	<button type="submit" class="btn btn-primary" id="update-timetable-url-button">Update URL</button>
</form>

<script>
	var timetableOptionsForm = document.getElementById('timetable-options-form');
	var addAlarmInput = document.getElementById('add-alarms-input');
	var alarmOffsetInput = document.getElementById('alarm-offset-input');
	var baseCalendarURL = document.getElementById('base-calendar-url').value;
	var downloadCalendarAnchor = document.getElementById('download-calendar-anchor');
	var calendarURLDisplayWrapper = document.getElementById('calendar-url-display-wrapper');
	var downloadCalendarURLDisplay = document.getElementById('download-calendar-url-display');

	document.getElementById('update-timetable-url-button').style = "display: none;";

	timetableOptionsForm.onsubmit = function() {
		updateDownloadURL();

		return false;
	};

	addAlarmInput.onchange = updateDownloadURL;
	alarmOffsetInput.onchange = updateDownloadURL;

	downloadCalendarURLDisplay.onclick = function() {
		if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(this);
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(this);
            window.getSelection().addRange(range);
        }
	};

	if (document.queryCommandSupported('copy')) {
		var copyCalendarURLWrapper = document.createElement("DIV");
		copyCalendarURLWrapper.className = "copy-anchor-wrapper";
		var copyAnchor = document.createElement("A");
		copyAnchor.innerHTML = "Copy";
		copyAnchor.title = "Copy timetable calendar URL";
		copyCalendarURLWrapper.appendChild(copyAnchor);

		copyAnchor.onclick = function() {
			var anchor = this;
			var copiedSpan = document.createElement("SPAN");
			copiedSpan.innerHTML = "Copied!";
			copiedSpan.className = 'copy-anchor';

			// Highlight the text and then perform a copy command
			downloadCalendarURLDisplay.onclick();
			document.execCommand('copy');

			copyCalendarURLWrapper.removeChild(anchor);
			copyCalendarURLWrapper.appendChild(copiedSpan);

			setTimeout(function() {
				copyCalendarURLWrapper.removeChild(copiedSpan);
				copyCalendarURLWrapper.appendChild(anchor);
			}, 1500);
		};

		calendarURLDisplayWrapper.appendChild(copyCalendarURLWrapper);
	} else {
		console.log("Doesn't support copying");
	}

	function updateDownloadURL() {
		var addAlarm = addAlarmInput.checked;
		var alarmOffset = alarmOffsetInput.value;
		var queryString = "";

		var hasAddedParam = false;

		if (addAlarm !== true) {
			queryString += "?addAlarms=" + addAlarm;
			hasAddedParam = true;
		}

		if (alarmOffset != -30) {
			if (hasAddedParam) {
				queryString += "&"
			} else {
				queryString += "?"
			}
			queryString += "alarmOffset="  + alarmOffset;
		}
		var newCalendarURL = baseCalendarURL + queryString;
		downloadCalendarAnchor.href= newCalendarURL;
		downloadCalendarURLDisplay.innerHTML = newCalendarURL;

		window.history.replaceState( {} , '{{title}}', document.location.pathname + queryString);
	};
</script>

{{#each entries}}
	<div>
		<h2>{{@key}}</h2>
		{{this.startTime}}<br>
		{{this.endTime}}<br>
		{{this.moduleCode}}<br>
		{{this.moduleName}}<br>
		{{this.teacher}}<br>
	</div>
{{/each}}