{{!< default}}

Timetable for {{studentId}}

<a href="/timetable/{{studentId}}.ics">Download/subscribe in your calendar</a>

{{#each entries}}
	<div>
		<h2>{{@key}}</h2>
		{{this.startTime}}<br>
		{{this.endTime}}<br>
		{{this.moduleCode}}<br>
		{{this.moduleName}}<br>
		{{this.teacher}}<br>
	</div>
{{/each}}